.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}
.destinations .item p {
  margin: 24px 0;
  line-height: 1.7;
}
.destinations {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 8%;
}
.destination-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.img-item-tokyo {
  height: 360px;
  width: 100%;
  background: url(/assets/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 24px;
}
.img-item-osaka {
  height: 360px;
  width: 100%;
  background: url(/assets/osaka-mobile.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .img-item-tokyo {
    height: 452px;
    width: 100%;
    background: url(/assets/tokyo-tablet.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 24px;
  }
  .img-item-osaka {
    height: 452px;
    width: 100%;
    background: url(/assets/osaka-tablet.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .img-item-tokyo {
    height: 452px;
    width: 100%;
    background: url(/assets/tokyo-desktop.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 24px;
  }
  .img-item-osaka {
    height: 452px;
    width: 100%;
    background: url(/assets/osaka-desktop.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 24px;
  }
  .destination-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
