header {
  background-color: var(--background-tertiary-color);
  padding: 38px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navigation-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}
nav {
  display: none;
}
.list-navigation {
  list-style: none;
}
.list-navigation li {
  padding: 16px;
}
.list-navigation li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}
