.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}
.hero .hero-img {
  background: url(../assets/hero-mobile.jpg) no-repeat;
  background-size: cover;
}
.bottom-hero .hero-img {
  background: url(../assets/bg-bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../assets/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../assets/bg-bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../assets/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url(../assets/bg-bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}
@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
